.searchbox {
    width: 90%;
    padding-left: 2%;
    margin-top: 8%;
    margin-left: 5px;
    margin-bottom: 8%;
}

.item-container {
    width: 100%;
    background-color: rgb(235, 235, 235);
}

.category-container {
    display: grid;
}

.category {
    font-size: 24px;
    border: none;
    border-bottom: 2px solid gray;
    border-top: 2px solid gray;
    text-align: left;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: rgb(188, 188, 188);
    transition: 0.1s;
}

.category:first-child {
    font-size: 24px;
    border: none;
    border-top: 2px solid gray;
    text-align: left;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: rgb(188, 188, 188);
}

.category:last-child {
    font-size: 24px;
    border: none;
    border-bottom: 2px solid gray;
    text-align: left;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: rgb(188, 188, 188);
}

.category:hover {
    font-style: oblique;
    background-color: rgb(209, 209, 209);
    padding-left: 5%;
}

.category:active {
    background-color: rgb(255, 255, 255);
    padding-left: 5%;
}