.header-container {
    position: sticky;
    top: 0;
}

.body-container {
    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;
}

.logo-container {
    display: grid;
    margin-top: -8px;
    user-select: none;
}

.title {
    font-size: 24px;
    color: black;
    padding-top: 8px;
    margin-left: 0.25%;
    margin-bottom: -24px;
}

#logo {
    width: 15%;
    padding-bottom: 12px;
    border-bottom: 4px solid white;
}

.list-container {
    display: sticky;
    height: auto;
    width: 55%;
    align-items: stretch;
    background-color: rgb(235, 235, 235);
    border-right: 2px solid gray;
    user-select: none;
}

.products-container {
    margin-top: 12px;
    margin-left: 12px;
    display: flex;
}

#search-icon {
    margin-left: 2%;
}

footer {
    background-color: black;
}